.container-profile {
  background-color: var(--color-back-gris);
  width: 100%;
}

#container-profile {
  width: 1200px;
  display: inline;
}

.container-profile__title {
  padding-top: 94px;
  padding-bottom: 50px;
}

.professionals {
  margin: auto;
  padding: 0%;
  padding-bottom: 94px;
  text-align: center;
}

.professionals__profile-box {
  display: inline-block;
  padding-bottom: 94px;
  margin-right: 23px;
  background-color: var(--color-white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 270px;
  height: 428px;
  left: calc(50% - 370px/2);
  padding: 0%;

  &:hover {
    border: 1px solid var(--color-blue);
  }
}

.card__image:hover {
  border: 1px solid var(--color-blue);
}

.card__title {
  padding-top: 30px;
  padding-bottom: 10px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-black);
}

.card__text {
  display: inline-flex;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-grisc);
}

.profile-icons {
  display: flex;
  justify-content: center;
}

.profile-icons__list {
  list-style: none;
  margin-right: 30px;
}

.profile-icons__icons {
  cursor: pointer;
  fill: var(--color-logo-clientes);

  &:hover {
    fill: var(--color-blue);
  }
}

