
  $--color-white:#FFF;
  $--color-blue:#2196F3;
  $--color-black:#212121;
  $--color-grisc:#757575;
  $--color-banner-footer:#2F303A;
  $--color-back-gris:#F5F4FA;
  $--color-banner-imagen:#2f303a66;
  $--color-logo-clientes:#AFB1B8;
  $--tipografia-rob: 'Roboto', sans-serif;
